<div class="row">
	<div class="small-12 columns">
		<h2>Resend confirmation instructions</h2>
	</div>
</div>
<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
	<div class="row">
	  <div class="small-12 columns alert-box alert">
	    <%= devise_error_messages! %>
	  </div>
	</div>
	<div class="row">
		<div class="small-12 columns">
		  <div class="field">
		    <%= f.label :email %><br />
		    <%= f.email_field :email, autofocus: true %>
	  	</div>
		</div>
	</div>
	<div class="row">
		<div class="small-12 columns">
		  <div class="actions">
		    <%= f.submit "Resend confirmation instructions", class: "button small" %>
		  </div>
		</div>
	</div>
<% end %>
<div class="row">
	<div class="small-12 columns">
		<%= render "charities/shared/links" %>
	</div>
</div>
