
<% if charity_signed_in? %>
	<%= link_to 'Sign Out', destroy_charity_session_path, method: :delete %>
		<div class="charity_profile">
		
		</div>

<% else %>

		<%= link_to "Sign Up", new_charity_registration_path %>
		<%= link_to "Sign In", new_charity_session_path %>

	<% @charities.each do |charity| %>
		<div class="all_charities">
			<%= charity.organisation %><br>
			<%= charity.description %>
				Contact info:
			<ul>
				<li><%= charity.contact_name %></li>
				<li><%= charity.email %></li>
				<li><%= charity.full_address %></li>
				<li><%= charity.postcode %></li>
			</ul>
		</div>
	<% end %>

<% end %>

