
<% if charity_signed_in? %>
	<%= link_to 'Sign Out', destroy_charity_session_path, method: :delete %>
	<h2>My Profile</h2>
	<% if @current_charity != nil %>
	<div class="charity_profile">
		<%= @current_charity.logo %>
		<%= @current_charity.organisation %>
		<%= @current_charity.description %>
		<%= @current_charity.contact_name %>
		<%= @current_charity.email %>
		<%= @current_charity.full_address %>
		<%= @current_charity.postcode %>
		<%= link_to "Edit", edit_charity_registration_path(@current_charity) %>
	</div>
	<% end %>

<% else %>
	
	<div class="charity_login">
		<%= link_to "Sign Up", new_charity_registration_path %>
		<%= link_to "Sign In", new_charity_session_path %>
	</div>

	<h2>All Charities</h2>
	<% @charities.each do |charity| %>
	
		<div class="all_charities">
			<%= charity.logo %><br>
			<%= charity.organisation %><br>
			<%= charity.description %><br><br>
				Contact info:
			<ul>
				<li><%= charity.contact_name %></li>
				<li><%= charity.email %></li>
				<li><%= charity.full_address %></li>
				<li><%= charity.postcode %></li>
			</ul>
			Food accepted:<br /><br />
			<% if charity.tins == '1' %>
				Tins<br />
			<% end %>
			<% if charity.dried_goods == '1' %>
				Dried goods<br />
			<% end %>
			<% if charity.coffee_tea == '1' %>
				Coffee/Tea<br />
			<% end %>
			<% if charity.fresh_fruit_veg == '1' %>
				Fresh fruit & veg<br />
			<% end %>
			<% if charity.fresh_meat_fish == '1' %>
				Fresh meat & fish<br />
			<% end %>
			<% if charity.snacks == '1' %>
				Snacks<br />
			<% end %>
			<% if charity.jars_condiments == '1' %>
				Jars/Condiments<br />
			<% end %>
			<% if charity.cereals == '1' %>
				Cereals<br />
			<% end %>
			<% if charity.cooking_ingredients == '1' %>
				Cooking ingredients<br />
			<% end %>
			<% if charity.drinks == '1' %>
				Drinks<br />
			<% end %>
			<% if charity.uht_milk == '1' %>
				UHT milk<br />
			<% end %>
		</div>
	
	<% end %>

<% end %>

