<div class="row">
  <% if charity_signed_in? && @current_charity.id == @charity.id %>
    <div class="columns small-6">
      <h2>My Profile</h2>
    </div>
    <div class="columns small-6 text-right">
      <%= link_to "Back to all charities", charities_path, class: "button small" %>
      <%= link_to "Edit Profile", edit_charity_registration_path(@charity), class: "button small" %>
      <%= link_to "Remove Charity", registration_path(@charity), data: { confirm: "Are you sure?" }, method: :delete, class: "button alert small" %>
    </div>
  <% else %>
    <div class="columns small-6">
      <h2><%= @charity.organisation %></h2>
    </div>
    <div class="columns small-6 text-right">
      <%= link_to "Back to all charities", charities_path, class: "button small" %>
    </div>
  <% end %>
</div>