<div class="row">
  <% if charity_signed_in? && @current_charity.id == @charity.id %>
    <div class="columns small-6">
      <h2>My Profile</h2>
    </div>
    <div class="columns small-6 text-right">
      <%= link_to "Back to all charities", charities_path, class: "button small" %>
      <%= link_to "Edit Profile", edit_charity_registration_path(@charity), class: "button small" %>
      <%= link_to "Remove Charity", cancel_charity_registration_path(@charity), data: { confirm: "Are you sure?" }, method: :delete, class: "button alert small" %>
    </div>
  <% else %>
    <div class="columns small-6">
      <h2><%= @charity.organisation %></h2>
    </div>
    <div class="columns small-6 text-right">
      <%= link_to "Back to all charities", charities_path, class: "button small" %>
    </div>
  <% end %>
</div>
<div class="charity-profile row">
  <div class="small-12 medium-6 large-3 columns">
    <div class="row">
      <%= image_tag @charity.logo.url(:thumb) %>
    </div>
  </div>
  <div class="small-12 medium-6 large-3 columns">
    <div class="row">
      <h2><%= @charity.organisation %></h2>
    </div>
    <div class="row">
      <%= @charity.description %>
    </div>
    <% if @charity.website_url %>
    <div class="row">
      Visit the website: <%= link_to "#{@charity.website_url}", @charity.website_url %>
    </div>
    <% end %>
  </div>
  <div class="small-12 medium-6 large-3 columns">
    <div class="row">
      <h3>Contact info:</h3>
      <ul class="no-bullet">
        <li><%= @charity.contact_name %></li>
        <li><a href="mailto:<%= @charity.email %>"><%= @charity.email %></a></li>
        <li><%= @charity.full_address %></li>
        <li><%= @charity.postcode %></li>
      </ul>
    </div>
  </div>
  <div class="small-12 medium-6 large-3 columns">
    <div class="row">
      <h3>Food accepted:</h3>
      <ul class="no-bullet">
        <% @charity.requirements_array.each do |k, v| %>
          <li><%= k[:label] %><%= image_tag "icons/#{k[:heading]}.svg", size: "40x40"%></li>
        <% end %>
      </ul>
    </div>
    <div class="row">
      <h3>Opening hours:</h3>
      <p><strong>Weekdays:</strong> <%= @charity.weekday_opening_hours %></p>
      <p><strong>Weekends:</strong> <%= @charity.weekend_opening_hours %></p>
    </div>
  </div>
</div>
