<div class="row">
  <div class="small-6 columns">
    <h2>Edit <%= resource_name.to_s.humanize %> Profile</h2>
  </div>
  <div class="small-6 columns text-right">
    <%= link_to "Back", charity_path, class: "button small" %>
  </div>
</div>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <div class="row">
    <div class="small-12 columns">
      <%= devise_error_messages! %>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <div class="field">
        <%= f.password_field :current_password, autocomplete: "off", placeholder: "Current password (required to edit your profile)" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <h2>Organisation Details</h2>
    </div>
  </div>
  <div class ="row">
    <div class="small-12 columns">
      <%= f.text_field :organisation, autofocus: true, placeholder: "Organisation Name" %>
    </div>
  </div>
  <div class ="row">
    <div class="small-12 columns">
      <%= f.text_field :description, placeholder: "Organisation Description (max 140 characters)" %>
    </div>
  </div>
  <div class ="row">
    <div class="small-12 columns">
      <%= f.text_field :website_url, placeholder: "Website Address" %>
    </div>
  </div>
  <div class ="row">
    <div class="small-2 columns">
      <h4>Charity Logo</h4>
    </div>
    <div class="small-10 columns">
      <%= f.file_field :logo %>
    </div>
  </div>
  <div class ="row">
    <div class="small-12 columns">
      <h4>Contact Details</h4>
    </div>
    <div class="small-12 columns">
      <%= f.text_field :contact_name, placeholder: "Contact Name" %>
    </div>
    <div class="small-12 columns">
      <%= f.email_field :email, placeholder: "Contact\'s Email Address" %>
    </div>
  </div>
  <div class ="row">
    <div class="small-12 columns">
      <%= f.text_field :full_address, placeholder: "Organisation Address" %>
    </div>
  </div>
  <div class ="row">
    <div class="small-12 columns">
      <%= f.text_field :postcode, placeholder: "Postcode" %>
    </div>
  </div>
  <div class ="row">
    <div class="small-12 columns">
      <h4>What Food You Accept</h4>
    </div>
    <div class="small-12 columns">
      <div class="row">
        <div class="switch small small-1 columns">
          <%= f.check_box(:tins) %>
          <%= f.label(:tins, "Tins") %>
        </div>
        <div class="small-11 columns">
          <p>Tins</p>
        </div>
      </div>
      <div class="row">
        <div class="switch small small-1 columns">
          <%= f.check_box(:dried_goods) %>
          <%= f.label(:dried_goods, "Dried Goods") %>
        </div>
        <div class="small-11 columns">
          <p>Dried Goods</p>
        </div>
      </div>
      <div class="row">
        <div class="switch small small-1 columns">
          <%= f.check_box(:coffee_and_tea) %>
          <%= f.label(:coffee_and_tea, "Cofee & Tea") %>
        </div>
        <div class="small-11 columns">
          <p>Coffee &amp; Tea</p>
        </div>
      </div>
      <div class="row">
        <div class="switch small small-1 columns">
          <%= f.check_box(:fresh_fruit_and_veg) %>
          <%= f.label(:fresh_fruit_and_veg, "Fruit & Veg") %>
        </div>
        <div class="small-11 columns">
          <p>Fresh Fruit &amp; Vegetables</p>
        </div>
      </div>
      <div class="row">
        <div class="switch small small-1 columns">
          <%= f.check_box(:fresh_meat_and_fish) %>
          <%= f.label(:fresh_meat_and_fish, "Meat & Fish") %>
        </div>
        <div class="small-11 columns">
          <p>Fresh Meat &amp; Fish</p>
        </div>
      </div>
      <div class="row">
        <div class="switch small small-1 columns">
          <%= f.check_box(:snacks) %>
          <%= f.label(:snacks, "Snacks") %>
        </div>
        <div class="small-11 columns">
          <p>Snacks</p>
        </div>
      </div>
      <div class="row">
        <div class="switch small small-1 columns">
          <%= f.check_box(:jars_and_condiments) %>
          <%= f.label(:jars_and_condiments, "Condiments") %>
        </div>
        <div class="small-11 columns">
          <p>Jars &amp; Condiments</p>
        </div>
      </div>
      <div class="row">
        <div class="switch small small-1 columns">
          <%= f.check_box(:cereals) %>
          <%= f.label(:cereals, "Cereals") %>
        </div>
        <div class="small-11 columns">
          <p>Cereals</p>
        </div>
      </div>
      <div class="row">
        <div class="switch small small-1 columns">
          <%= f.check_box(:cooking_ingredients) %>
          <%= f.label(:cooking_ingredients, "Cooking Ingredients") %>
        </div>
        <div class="small-11 columns">
          <p>Cooking Ingredients</p>
        </div>
      </div>
      <div class="row">
        <div class="switch small small-1 columns">
          <%= f.check_box(:drinks) %>
          <%= f.label(:drinks, "Drinks") %>
        </div>
        <div class="small-11 columns">
          <p>Drinks</p>
        </div>
      </div>
      <div class="row">
        <div class="switch small small-1 columns">
          <%= f.check_box(:uht_milk) %>
          <%= f.label(:uht_milk, "UHT Milk") %>
        </div>
        <div class="small-11 columns">
          <p>UHT Milk</p>
        </div>
      </div>
      <div class="row">
        <div class="switch small small-1 columns">
          <%= f.check_box(:none) %>
          <%= f.label(:none, "None") %>
        </div>
        <div class="small-11 columns">
          <p>None</p>
        </div>
      </div>
    </div>
  </div>
  <div class ="row">
    <div class="small-12 columns">
      <h4>Opening Hours</h4>
    </div>
    <div class="small-12 columns">
      <%= f.text_field :weekday_opening_hours, placeholder: "Weekdays" %>
    </div>
    <div class="small-12 columns">
      <%= f.text_field :weekend_opening_hours, placeholder: "Weekends" %>
    </div>
  </div>
  <div class ="row">
    <div class="small-12 columns">
      <h4>Password</h4>
    </div>
  </div>

  <div class="row">
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div class="small-12 columns">Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <div class="field">
        <%= f.password_field :password, autocomplete: "off", placeholder: "New password (leave blank if you don't want to change it)" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <div class="field">
        <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Password confirmation" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <div class="actions">
        <%=  f.submit "Update", class: "button small" %>
      </div>
    </div>
  </div>
<% end %>
<div class="row">
  <div class="small-12 columns">
    <h3>Cancel my account</h3>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <%= button_to "Remove Charity", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "button small" %>
  </div>
</div>
