<div class="row">
  <div class="small-12 columns">
    <h2>Sign Up</h2>
  </div>
</div>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <div class="row">
    <div class="small-12 columns">
      <%= devise_error_messages! %>
    </div>
  </div>
  <div class ="row">
    <div class="small-4 columns">
      <p>Organisation Name &#42;</p>
    </div>
    <div class="small-8 columns">
      <%= f.text_field :organisation, autofocus: true, placeholder: "Organisation Name" %>
    </div>
  </div>
  <div class ="row">
  <div class="small-12 columns">
    <%= f.text_field :description, placeholder: "Organisation Description (max 140 characters)" %>
    </div>
  </div>
  <div class ="row">
    <div class="small-12 columns">
      <%= f.text_field :website_url, placeholder: "Website Address" %>
    </div>
  </div>
  <div class ="row">
    <div class="small-12 columns">
      <h4>Charity Logo</h4>
    </div>
  </div>
  <div class ="row">
    <div class="small-12 columns">
      <%= f.file_field :logo %>
    </div>
  </div>
  <div class ="row">
    <div class="small-12 columns">
      <h4>Contact Details</h4>
    </div>
  </div>
  <div class ="row">
    <div class="small-4 columns">
      <p>Contact Name</p>
    </div>
    <div class="small-8 columns">
      <%= f.text_field :contact_name, placeholder: "Contact Name" %>
    </div>
  </div>
  <div class ="row">
    <div class="small-4 columns">
      <p>Email &#42;</p>
    </div>
    <div class="small-8 columns">
      <%= f.email_field :email, placeholder: "Contact\'s Email Address" %>
    </div>
  </div>
  <div class ="row">
    <div class="small-4 columns">
      <p>Address &#42;</p>
    </div>
    <div class="small-8 columns">
      <%= f.text_field :full_address, placeholder: "Donation Center Address" %>
    </div>
  </div>
  <div class ="row">
    <div class="small-4 columns">
      <p>Postcode &#42;</p>
    </div>
    <div class="small-8 columns">
      <%= f.text_field :postcode, placeholder: "Postcode" %>
    </div>
  </div>
  <div class ="row">
    <div class="small-12 columns">
      <h4>What Food You Accept</h4>
    </div>
    <div class="small-12 columns">
      <div class="row">
        <div class="switch small small-3 columns">
          <%= f.check_box(:tins) %>
          <%= f.label(:tins, "Tins") %>
        </div>
        <div class="small-5 columns">
          <p>Tins</p>
        </div>
        <div class="small-4 columns">
          <%= image_tag "icons/tins.svg", size: "30x30"%>
        </div>
      </div>
      <div class="row">
        <div class="switch small small-3 columns">
          <%= f.check_box(:dried_goods) %>
          <%= f.label(:dried_goods, "Dried Goods") %>
        </div>
        <div class="small-5 columns">
          <p>Dried Goods</p>
        </div>
        <div class="small-4 columns">
          <%= image_tag "icons/dried_goods.svg", size: "30x30"%>
        </div>
      </div>
      <div class="row">
        <div class="switch small small-3 columns">
          <%= f.check_box(:coffee_and_tea) %>
          <%= f.label(:coffee_and_tea, "Coffee & Tea") %>
        </div>
        <div class="small-5 columns">
          <p>Coffee &amp; Tea</p>
        </div>
        <div class="small-4 columns">
          <%= image_tag "icons/coffee_and_tea.svg", size: "30x30"%>
        </div>
      </div>
      <div class="row">
        <div class="switch small small-3 columns">
          <%= f.check_box(:fresh_fruit_and_veg) %>
          <%= f.label(:fresh_fruit_and_veg, "Fruit & Veg") %>
        </div>
        <div class="small-5 columns">
          <p>Fresh Fruit &amp; Vegetables</p>
        </div>
        <div class="small-4 columns">
          <%= image_tag "icons/fresh_fruit_and_veg.svg", size: "30x30"%>
        </div>
      </div>
      <div class="row">
        <div class="switch small small-3 columns">
          <%= f.check_box(:fresh_meat_and_fish) %>
          <%= f.label(:fresh_meat_and_fish, "Meat & Fish") %>
        </div>
        <div class="small-5 columns">
          <p>Fresh Meat &amp; Fish</p>
        </div>
        <div class="small-4 columns">
          <%= image_tag "icons/fresh_meat_and_fish.svg", size: "30x30"%>
        </div>
      </div>
      <div class="row">
        <div class="switch small small-3 columns">
          <%= f.check_box(:snacks) %>
          <%= f.label(:snacks, "Snacks") %>
        </div>
        <div class="small-5 columns">
          <p>Snacks</p>
        </div>
        <div class="small-4 columns">
          <%= image_tag "icons/snacks.svg", size: "30x30"%>
        </div>
      </div>
      <div class="row">
        <div class="switch small small-3 columns">
          <%= f.check_box(:jars_and_condiments) %>
          <%= f.label(:jars_and_condiments, "Condiments") %>
        </div>
        <div class="small-5 columns">
          <p>Jars &amp; Condiments</p>
        </div>
        <div class="small-4 columns">
          <%= image_tag "icons/jars_and_condiments.svg", size: "30x30"%>
        </div>
      </div>
      <div class="row">
        <div class="switch small small-3 columns">
          <%= f.check_box(:cereals) %>
          <%= f.label(:cereals, "Cereals") %>
        </div>
        <div class="small-5 columns">
          <p>Cereals</p>
        </div>
        <div class="small-4 columns">
          <%= image_tag "icons/cereals.svg", size: "30x30"%>
        </div>
      </div>
      <div class="row">
        <div class="switch small small-3 columns">
          <%= f.check_box(:cooking_ingredients) %>
          <%= f.label(:cooking_ingredients, "Cooking Ingredients") %>
        </div>
        <div class="small-5 columns">
          <p>Cooking Ingredients</p>
        </div>
        <div class="small-4 columns">
          <%= image_tag "icons/cooking_ingredients.svg", size: "30x30"%>
        </div>
      </div>
      <div class="row">
        <div class="switch small small-3 columns">
          <%= f.check_box(:drinks) %>
          <%= f.label(:drinks, "Drinks") %>
        </div>
        <div class="small-5 columns">
          <p>Drinks</p>
        </div>
        <div class="small-4 columns">
          <%= image_tag "icons/drinks.svg", size: "30x30"%>
        </div>
      </div>
      <div class="row">
        <div class="switch small small-3 columns">
          <%= f.check_box(:uht_milk) %>
          <%= f.label(:uht_milk, "UHT Milk") %>
        </div>
        <div class="small-5 columns">
          <p>UHT Milk</p>
        </div>
        <div class="small-4 columns">
          <%= image_tag "icons/uht_milk.svg", size: "30x30"%>
        </div>
      </div>
      <div class="row">
        <div class="switch small small-3 columns">
          <input type="checkbox" id="selectAll" value="selectAll">
          <label for="selectAll">Select / Deselect All</label>
        </div>
        <div class="small-9 columns">
          <p>Deselect / Select All</p>
        </div>
      </div>
    </div>
  </div>
  <div class ="row">
    <div class="small-12 columns">
      <h4>Open For Donation</h4>
    </div>
    <div class="small-12 columns">
      <%= f.text_field :weekday_opening_hours, placeholder: "Weekdays" %>
    </div>
    <div class="small-12 columns">
      <%= f.text_field :weekend_opening_hours, placeholder: "Weekends" %>
    </div>
  </div>
  <div class ="row">
    <div class="small-12 columns">
      <h4>Password</h4>
      <% if @validatable %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %>
    </div>
  </div>
  <div class ="row">
    <div class="small-12 columns">
        <%= f.password_field :password, autocomplete: "off", placeholder: "Password" %>
    </div>
  </div>
  <div class ="row">
    <div class="small-12 columns">
      <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Password Confirmation" %>
    </div>
  </div>
  <div class ="row">
    <div class="small-12 columns">
      <%= f.submit "Sign Up", class: "button small" %>
    </div>
  </div>
<% end %>
<div class ="row">
  <div class="small-12 columns">
    <%= render "charities/shared/links" %>
  </div>
</div>