<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= content_for?(:title) ? yield(:title) : "Oodls" %></title>
    <script src="https://maps.google.com/maps/api/js?sensor=true"></script>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= stylesheet_link_tag    "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
  <div class="sticky">
    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          <h1><a href="/">Oodls</a></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>
      <section class="top-bar-section">
        <ul class="right">
          <li class="has-dropdown">
            <a href="#">I have food to give</a>
            <ul class="dropdown">
              <li><%= link_to "Where to give?", charities_path %></li>
              <li><%= link_to "How to give?", "#" %></li>
              <li><%= link_to "What more can I do?", "#" %></li>
            </ul>
          </li>
          <li class="has-dropdown">
            <a href="#">I'm a Charity</a>
            <ul class="dropdown">
              <li><%= link_to "All Charities Involved", charities_path %></li>
              <li><%= link_to "Add a Charity", new_charity_registration_path %></li>
              <% if charity_signed_in? %>
                <li><%= link_to "My Profile", "/charities/#{@current_charity.id}" %></li>
              <% else %>
                <li><%= link_to "Sign In", new_charity_session_path %></li>
              <% end %>
            </ul>
          </li>
          <% if charity_signed_in? %>
            <li>
              <%= link_to "Sign Out", destroy_charity_session_path, method: :delete %>
            </li>
          <% end %>
        </ul>
      </section>
    </nav>
  </div>
  <div class="row messages">
    <div data-alert class="notice small-12 columns">
      <%= content_tag(:p, notice, class: 'notice alert-box success') if notice %>
    </div>
    <div data-alert class="alert small-12 columns">
      <%= content_tag(:p, alert, class: 'notice alert-box alert') if alert %>
    </div>
  </div>

  <%= yield %>

  </body>
</html>
