<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@oodls_io" />
    <meta name="twitter:title" content="Oodls : Join The Food Waste Fight" />
    <meta name="twitter:description" content="Each year, we throw away more food from our homes than packaging.  Join us in the fight against food waste.  Find your nearest food donation centre now." />
    <meta name="twitter:image" content="http://oodls.io/images/oodls-twitter-card.jpg" />
    <meta name="twitter:url" content="http://oodls.io" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= content_for?(:title) ? yield(:title) : "Oodls" %></title>
    <script src="https://maps.google.com/maps/api/js?sensor=true"></script>
    <script src="//use.typekit.net/faj2tmc.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= stylesheet_link_tag    "application" %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag %>
  </head>
  <body>

    <%= render "layout-partials/header" %>

    <%= render "layout-partials/flash_errors" %>

    <%= yield %>

  </body>
</html>